.screen {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1ch;
    max-width: 82ch;
    max-height: 37.45rem;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--fg);
    box-shadow: var(--glow);
    transition-property: border-radius, filter, transform, opcaity;
    transition-duration: 130ms, 130ms, 130ms, 75ms;
    transition-timing-function: ease-out;
}

.header {
    display: flex;
    flex: none;
    gap: 1ch;
}

.logo {
    flex: 0 0 auto;
}

.nt-logo {
    font-weight: 600;
    text-align: center;
    width: 3ch;
}

.nt-logo::before,
.nt-logo::after {
    content: "";
    display: inline-block;
    width: 1ch;
    height: 0.75rem;
    vertical-align: 0;
    background-color: currentColor;
}

.nt-logo::before {
    clip-path: polygon(10% 0, 90% 0, 90% 60%);
}

.nt-logo::after {
    clip-path: polygon(10% 100%, 90% 100%, 10% 40%);
}

.content {
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--fg-sys) var(--bg);
    white-space-collapse: preserve;
}

.header-title::before {
    content: "- ";
}

.backlink::before {
    content: "← ";
    display: inline-block;
    text-decoration: none;
}

.backlink {
    white-space-collapse: preserve;
    user-select: none;
}

.backlink:hover {
    cursor: pointer;
}