<div id="alert-box" class="alert">
    <h2 id="alert-header"></h2>
    <div class="alert-text">
        <p id="alert-text"></p>
    </div>
    <button class="button" id="close-button">Close</button>
</div>